
#calc-display{
    text-align: right;
    box-sizing: border-box;
    border: 1px solid black;
    height: 23%;
    padding-right:5px;
    font-size: 2rem;
}

.history-display{
    display: flex;
    justify-content: flex-end;
    color: darkcyan;
}



.number-column{
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator{
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    height: 250px;
    width: 250px;
    margin-top: 15%;
    
}

.erase-row button{
    background-color: darkgrey;
}

.number-button.clicked{
    background-color: hsl(15, 72%, 50%);
}
.op-button.clicked{
    background-color: hsl(0, 0%, 53%);
}
.zero-row-button.clicked{
    background-color: hsl(15, 72%, 50%);
}
.erase-row-button.clicked{
    background-color: hsl(0, 0%, 46%);
}




button{
    box-sizing: border-box;
    flex: 1 1 100%;
    text-align: center;
    font-size: 1.2rem;
}

.number-column > div{
    display:flex;
    flex-direction: row;
    flex: 1 1 100%;
} 

.operator-column{
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.operator-column button{
    font-size: 1.3rem;
    background-color: lightgray;
}


.button-rows{
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    border: 2px solid black;
}




.top-row button,
.middle-row button,
.bottom-row button,
.zero-row button{
    background-color: lightsalmon;
}




