

.number-column{
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator{
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 250px;
    width: 250px;
    border: 1px solid black;
}

.erase-row button{
    background-color: darkgrey;
}

button{
    box-sizing: border-box;
    flex: 1 1 100%;
    text-align: center;
    font-size: 1.2rem;
}

.number-column > div{
    display:flex;
    flex-direction: row;
    flex: 1 1 100%;
} 

.operator-column{
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.operator-column button{
    font-size: 1.3rem;
    background-color: lightgray;
}


.button-rows{
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
}

.top-row button,
.middle-row button,
.bottom-row button,
.zero-row button{
    background-color: lightsalmon;
}